*{
	color:#6E6E6E;
	font-family:Arial, helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
	list-style:none;
	padding:0;
	border:0;
	outline:0;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:0;
}
table {border-collapse:collapse;border-spacing:0;}
.clear{clear:both;}

body{background-color:#FAFAFA;padding-bottom:3em;}

h1{color:#3C91C7;font-size:1.25em;font-weight:bold;line-height:1.5em;margin-bottom:.25em;}
h2{color:#1B2742;font-size:1.15em;font-style:italic;line-height:1.25em;margin-bottom:.25em;}
p{margin-bottom:1em;}

a{color:#3C91C7;}
@media only screen{
	a:hover{color:#56a0cf;}
	a:active{color:#327eaf;}
}

.btn-link{
	color:#FFF;
	background-color:#3C91C7;
	display:inline-table;
	font-size:.8em;
	padding:.25em .5em;
	border-radius:.25em;
	-moz-border-radius:.25em;
	-webkit-border-radius:.25em;
	-khtml-border-radius:.25em;
	margin-top:.75em;
}
@media only screen{
	.btn-link:hover{color:#FFF;background-color:#56a0cf;}
	.btn-link:active{color:#FFF;background-color:#327eaf;}
}

html{font-size:12px;}
#header, #body{width:994px;margin:0 auto;} #content{width:968px;}
#header, #body{padding:1em;}
@media all and (max-device-width: 640px), (max-width: 640px) {
	html{font-size:16px;}
	#header, #body, #content{width:100%;}
	#header{
		padding:0;
		background-color: #1B2742; 
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#25355a), to(#1B2742));
		background-image: -webkit-linear-gradient(top, #25355a, #1B2742);
		background-image: -moz-linear-gradient(top, #25355a, #1B2742);
		background-image: -ms-linear-gradient(top, #25355a, #1B2742);
		background-image: -o-linear-gradient(top, #25355a, #1B2742);
	}
	#body{padding:.5em;}
}
/* (17*(#col))+(#content and/or #body padding)+(if content add 2px for border)*/
@media all and (min-width: 641px) and (max-width: 767px) { /* 3col */
	html{font-size:12px;}
	#header,#body{width:648px;}
	#content{width:626px;}
}
@media all and (min-width: 768px) and (max-width: 994px) { /* 3col iPad */
	html{font-size:13px;}
	#header,#body{width:702px;}
	#content{width:691px;}
}
@media all and (min-width: 995px) and (max-width: 1320px) { /* 4col */
	html{font-size:14px;}
	#header, #body{width:994px;}
	#content{width:968px;}
}
@media all and (min-width: 1321px) and (max-width: 1680px) { /* 5col */
	html{font-size:15px;}
	#header, #body{width:1320px;}
	#content{width:1292px;}
}
@media all and (min-width: 1681px) {html{font-size:16px;}#header, #body{width:1680px;}#content{width:1650px;}} /* 6col */


/* Header */

#logo, #announcement, #nav{width:35%;height:70px;float:left;}
#announcement, #nav{padding-top:37px;}
#announcement{width:30%;font-size:.9em;text-align:center;}
#nav{text-align:right;}


#logo a{display:inline-block;width:246px;height:70px;background:url('http://cdn.frostydeals.com/sprites.png');background-position:0 0;}
@media only screen{
	#logo a:hover{background-position:0 -70px;}
	#logo a:active{background-position:0 -140px;}
}
#logo a span, #logo a img{display:none;}


#nav ul, #nav li{display:inline-table;height:2.25em;}
#nav ul{
	background-color: #1B2742; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#25355a), to(#1B2742));
	background-image: -webkit-linear-gradient(top, #25355a, #1B2742);
	background-image: -moz-linear-gradient(top, #25355a, #1B2742);
	background-image: -ms-linear-gradient(top, #25355a, #1B2742);
	background-image: -o-linear-gradient(top, #25355a, #1B2742);
	display:inline-block;
	border-radius:.5em;
	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	-khtml-border-radius:.5em;
}
#nav li{list-style:none;line-height:2em;padding-right:.5em;}
#nav li:first-child{padding-left:1em;}
#nav li:last-child{padding-right:1em;}
#nav ul li a{color:#FFF;font-size:.8em}
@media only screen{
	#nav ul li a:hover{color:#EEE;}
	#nav ul li a:active{color:#DDD;}
}
#nav-mobile{display:none;}

@media only screen and (max-device-width: 640px), (max-width: 640px) {
	#logo, #nav{display:block;height:2.5em;float:left;padding:0;}
	#logo{width:80%;}#announcement{display:none;}
	
	#logo a{width:auto;height:auto;background:none;padding:.25em 0;margin-left:.5em;}
	#logo a img{display:inline;max-height:2em;width:auto;}
	
	#nav-mobile{
		display:block;
		width:20%;
		text-align:right;
		padding:.5em 0;
		float:left;
	}
	#nav-mobile a{
		display:inline-block;
		width:1.5em;
		height:1.5em;
		font-size:1em;
		line-height:1.5em;
		text-align:center;
		background-color: #39518a; 
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#39518a), to(#2f4372));
		background-image: -webkit-linear-gradient(top, #39518a, #2f4372);
		background-image: -moz-linear-gradient(top, #39518a, #2f4372);
		background-image: -ms-linear-gradient(top, #39518a, #2f4372);
		background-image: -o-linear-gradient(top, #39518a, #2f4372);
		border-radius:.25em;
		-moz-border-radius:.25em;
		-webkit-border-radius:.25em;
		-khtml-border-radius:.25em;
		margin-right:.5em;
	}
	#nav-mobile a span{color:#FFF;font-weight:bold;}
	
	#nav{
		display:none;
		width:100%;
		height:auto;
		
	}
	#nav ul, #nav ul li, #nav li:first-child, #nav li:last-child{
		display:block;
		width:100%;
		height:auto;
		background:none;
		padding:0;
	}
	#nav ul li a{
		display:block;
		width:100%;
		height:auto;
		text-align:center;
		background-color:#333;
		border-top:solid 1px #444;
		border-bottom:solid 1px #222;
		padding:1em 0;
	}
}
@media all and (min-width:641px) and (max-width: 994px) {
	#logo, #announcement, #nav{height:50px;}
	#logo{padding-top:4px;}
	#announcement, #nav{padding-top:25px;}
	
	#logo a{display:inline-block;width:175px;height:50px;background:url('http://cdn.frostydeals.com/sprites.png');background-position:-246px 0;}
	#logo a:hover{background-position:-246px -50px;}
	#logo a:active{background-position:-246px -100px;}
}


/* Body */
#body{width:100%;}
#content{
	background-color:#FFF;
	padding:.5em;
	border-radius:1em;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	-khtml-border-radius:1em;
	border:solid 1px #E8E8E8;
	margin:0 auto;
}
@media only screen and (max-device-width: 640px), (max-width: 640px) {
	#body{padding:0;}
	#content{
		width:100%;
		padding:.25em;
		border-radius:0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		-khtml-border-radius:0;
		border:solid 1px #E8E8E8;
		border-left:0;
		border-right:0;
	}
}

/* Footer */

#footer{
	display:block;
	position:fixed;
	width:100%;
	height:3em;
	bottom:0;
	background-color: #1B2742; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#25355a), to(#1B2742));
	background-image: -webkit-linear-gradient(top, #25355a, #1B2742);
	background-image: -moz-linear-gradient(top, #25355a, #1B2742);
	background-image: -ms-linear-gradient(top, #25355a, #1B2742);
	background-image: -o-linear-gradient(top, #25355a, #1B2742);
	padding:.75em;
}

#social-variable, #social-constant{color:#FFF;width:50%;float:left;}
#social-gplus, #social-twit, #social-fb{display:inline-table;vertical-align:top;padding-right:.5em;}
#social-fb{padding-right:0;}
#social-gplus #___plusone_0, #social-gplus iframe{width:60px!important;}
#social-twit iframe{width:80px!important;}
#social-fb iframe{width:75px!important;}
@media only screen and (max-device-width: 640px), (max-width: 640px) {
	#footer{padding:.5em;}
	#social-variable{display:none;}
	#social-constant{width:100%;text-align:center;float:none;padding:.1em 0;}
}




/* Deals */

#site-selection{
	display:block;
	width:100%;
	padding:.5em;
}
#site-selection li{
	display:block;
	margin-right:.5em;
	float:left;
}
#site-selection a{
	display:block;
	background-color: #FAFAFA; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -moz-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -ms-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -o-linear-gradient(top, #fafafa, #f2f2f2);
	padding:.5em;
	border-radius:.5em;
	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	-khtml-border-radius:.5em;
	border:solid 1px #D8D8D8;
}
@media only screen{
	#site-selection a:hover{
		background-color: #FFF; 
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f2f2f2));
		background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
		background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
		background-image: -ms-linear-gradient(top, #fff, #f2f2f2);
		background-image: -o-linear-gradient(top, #fff, #f2f2f2);
	}
	#site-selection a:active{
		background-color: #F2F2F2; 
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#fafafa));
		background-image: -webkit-linear-gradient(top, #f2f2f2, #fafafa);
		background-image: -moz-linear-gradient(top, #f2f2f2, #fafafa);
		background-image: -ms-linear-gradient(top, #f2f2f2, #fafafa);
		background-image: -o-linear-gradient(top, #f2f2f2, #fafafa);
	}
}
#site-selection a.active{
	background-color: #EAEAEA; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EAEAEA), to(#fafafa));
	background-image: -webkit-linear-gradient(top, #EAEAEA, #fafafa);
	background-image: -moz-linear-gradient(top, #EAEAEA, #fafafa);
	background-image: -ms-linear-gradient(top, #EAEAEA, #fafafa);
	background-image: -o-linear-gradient(top, #EAEAEA, #fafafa);
}
#site-selection a span{
	display:block;
	height:15px;
	background:url('http://cdn.frostydeals.com/sprites.png');
}
#site-selection a#all span{width:14px;background-position:-246px -195px;}
#site-selection a#woot span{width:42px;background-position:-260px -195px;}
#site-selection a#midnightBox span{width:79px;background-position:-342px -180px;}
#site-selection a#yugster span{width:43px;background-position:-361px -195px;}
#site-selection a#oneSaleADay span{width:59px;background-position:-302px -195px;}
#site-selection a#justDeals span{width:54px;background-position:-342px -150px;}
#site-selection a#dailySteals span{width:51px;background-position:-342px -165px;}
#site-selection .alt{display:none;}



/* Panel */
.panel{
	display:block;
	width:17em;
	padding:.5em;
	float:left;
}
@media all and (max-device-width: 640px), (max-width: 640px) {
	.panel{width:100%;float:none;}
}

/* Panel Title Bar */
.panel-title{	
	width:100%;
	background-color: #1B2742; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#25355a), to(#1B2742));
	background-image: -webkit-linear-gradient(top, #25355a, #1B2742);
	background-image: -moz-linear-gradient(top, #25355a, #1B2742);
	background-image: -ms-linear-gradient(top, #25355a, #1B2742);
	background-image: -o-linear-gradient(top, #25355a, #1B2742);
	padding:.4em .5em;
	border:solid 1px #111829;
	border-radius:.5em .5em 0 0;
	-moz-border-radius:.5em .5em 0 0;
	-webkit-border-radius:.5em .5em 0 0;
	-khtml-border-radius:.5em .5em 0 0;
}
.special .panel-title{
	background-color:#3C91C7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4998cb), to(#3688bc));
	background-image: -webkit-linear-gradient(top, #4998cb, #3688bc);
	background-image: -moz-linear-gradient(top, #4998cb, #3688bc);
	background-image: -ms-linear-gradient(top, #4998cb, #3688bc);
	background-image: -o-linear-gradient(top, #4998cb, #3688bc);
	border:solid 1px #28678E;
}
.sold-out .panel-title{
	background-color:#6E6E6E;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#767676), to(#666));
	background-image: -webkit-linear-gradient(top, #767676, #666);
	background-image: -moz-linear-gradient(top, #767676, #666);
	background-image: -ms-linear-gradient(top, #767676, #666);
	background-image: -o-linear-gradient(top, #767676, #666);
	border:solid 1px #505050;
}

.panel-title-title, .panel-title-share{display:block;float:left;}

.panel-title-title{width:90%;}
.panel-title-title a{color:#FFF;font-size:.8em;font-weight:bold;}
.panel-title-title a:hover{color:#EEE;}
.panel-title-title a:active{color:#DDD;}

.panel-title-share{width:10%;text-align:right;}
.panel-title-share-inner{display:inline-block;width:21px;position:relative;}
.panel-title-share-link{
	display:block;
	width:21px;
	height:15px;
	background:url('http://cdn.frostydeals.com/sprites.png');
	background-position:-321px -150px;
}
@media only screen{
	.panel-title-share-link:hover{background-position:-321px -165px;}
	.panel-title-share-link:active{background-position:-321px -180px;}
}
.panel-title-share-link span{display:none;}
.panel-title-share-box{
	display:none;
	position:absolute;
	top:1.4em;
	right:0;
	width:5em;
	height:23px;
	background-color: #F2F2F2; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -moz-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -ms-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -o-linear-gradient(top, #fafafa, #f2f2f2);
	border-radius:.25em;
	-moz-border-radius:.25em;
	-webkit-border-radius:.25em;
	-khtml-border-radius:.25em;
	border:solid 1px #D8D8D8;
}
.panel-title-share-box b{
	display:block;
	position:absolute;
	top:-3px;
	right:.5em;
	width:6px;
	height:6px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	background-color:#fafafa;
	border-top:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}


/* Panel Body */
.panel-body{
	width:100%;
	padding:.5em;
	background-color: #F2F2F2; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -moz-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -ms-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -o-linear-gradient(top, #fafafa, #f2f2f2);
	border-left:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
.panel-time{
	width:100%;
	background-color:#fafafa; 
	padding:.5em .5em 0;
	border-left:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
.panel-time-container{
	height:.5em;
	background-color:#FFF;
	border:solid 1px #D8D8D8;
}
.panel-timeLeft{height:100%;}
.panel-timeLeft span{display:none;}
.panel-body-prodImg{
	width:100%;
	height:11em;
	background-color:#FFF;
	border:solid 1px #D8D8D8;
}
.panel-body-prodImg a{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
}
.panel-body-prodImg img{max-width:100%;max-height:100%;}
.sold-out .panel-body-prodImg img{
	zoom: 1;
	filter: alpha(opacity=.25);
	opacity: 0.25;
}

.panel-bottom{width:100%;}


/* Panel Drawer */
.panel-drawer{
	width:100%;
	height:3.25em;
	background-color: #F2F2F2; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -moz-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -ms-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -o-linear-gradient(top, #fafafa, #f2f2f2);
	border:solid 1px #D8D8D8;
	border-radius:0 0 .5em .5em;
	-moz-border-radius:0 0 .5em .5em;
	-webkit-border-radius:0 0 .5em .5em;
	-khtml-border-radius:0 0 .5em .5em;
}
.panel-drawer-site, .panel-drawer-details{padding:.5em;float:left;}

.panel-drawer-site{width:60%;}
.panel-drawer-site a{display:inline-block;height:21px;background:url('http://cdn.frostydeals.com/sprites.png');margin-top:3px;}
.panel-drawer-site a span{display:none;}

.woot .panel-drawer-site a{width:59px;background-position:0 -210px;}
@media only screen{
	.woot .panel-drawer-site a:hover{background-position:0 -231px;}
	.woot .panel-drawer-site a:active{background-position:0 -252px;}
}
.wootTech .panel-drawer-site a{width:59px;background-position:0 -210px;}
@media only screen{
	.wootTech .panel-drawer-site a:hover{background-position:0 -231px;}
	.wootTech .panel-drawer-site a:active{background-position:0 -252px;}
}
.wootHome .panel-drawer-site a{width:113px;background-position:-59px -210px;}
@media only screen{
	.wootHome .panel-drawer-site a:hover{background-position:-59px -231px;}
	.wootHome .panel-drawer-site a:active{background-position:-59px -252px;}
}
.wootSport .panel-drawer-site a{width:107px;background-position:-172px -210px;}
@media only screen{
	.wootSport .panel-drawer-site a:hover{background-position:-172px -231px;}
	.wootSport .panel-drawer-site a:active{background-position:-172px -252px;}
}
.wootKids .panel-drawer-site a{width:96px;background-position:-279px -210px;}
@media only screen{
	.wootKids .panel-drawer-site a:hover{background-position:-279px -231px;}
	.wootKids .panel-drawer-site a:active{background-position:-279px -252px;}
}
.wootShirt .panel-drawer-site a{width:101px;background-position:0 -273px;}
@media only screen{
	.wootShirt .panel-drawer-site a:hover{background-position:0 -294px;}
	.wootShirt .panel-drawer-site a:active{background-position:0 -315px;}
}
.wootWine .panel-drawer-site a{width:105px;background-position:-101px -273px;}
@media only screen{
	.wootWine .panel-drawer-site a:hover{background-position:-101px -294px;}
	.wootWine .panel-drawer-site a:active{background-position:-101px -315px;}
}
.wootSellout .panel-drawer-site a{width:113px;background-position:-206px -273px;}
@media only screen{
	.wootSellout .panel-drawer-site a:hover{background-position:-206px -294px;}
	.wootSellout .panel-drawer-site a:active{background-position:-206px -315px;}
}

.midnightBox1 .panel-drawer-site a,
.midnightBox2 .panel-drawer-site a,
.midnightBox3 .panel-drawer-site a{width:111px;background-position:0 -336px;}
@media only screen{
	.midnightBox1 .panel-drawer-site a:hover,
	.midnightBox2 .panel-drawer-site a:hover,
	.midnightBox3 .panel-drawer-site a:hover{background-position:0 -357px;}
	.midnightBox1 .panel-drawer-site a:active,
	.midnightBox2 .panel-drawer-site a:active,
	.midnightBox3 .panel-drawer-site a:active{background-position:0 -378px;}
}

.oneSaleADay .panel-drawer-site a,
.oneSaleADayWireless .panel-drawer-site a,
.oneSaleADayWatch .panel-drawer-site a,
.oneSaleADayFamily .panel-drawer-site a,
.oneSaleADayJewelry .panel-drawer-site a{width:82px;background-position:-111px -336px;}
@media only screen{
	.oneSaleADay .panel-drawer-site a:hover,
	.oneSaleADayWireless .panel-drawer-site a:hover,
	.oneSaleADayWatch .panel-drawer-site a:hover,
	.oneSaleADayFamily .panel-drawer-site a:hover,
	.oneSaleADayJewelry .panel-drawer-site a:hover{background-position:-111px -357px;}
	.oneSaleADay .panel-drawer-site a:active,
	.oneSaleADayWireless .panel-drawer-site a:active,
	.oneSaleADayWatch .panel-drawer-site a:active,
	.oneSaleADayFamily .panel-drawer-site a:active,
	.oneSaleADayJewelry .panel-drawer-site a:active{background-position:-111px -378px;}
}

.yugsterDailyOffer .panel-drawer-site a, 
.yugsterYoursUntilGone .panel-drawer-site a,
.yugsterDailyWatchDeal .panel-drawer-site a,
.yugsterSpecialOffer .panel-drawer-site a{width:60px;background-position:-319px -273px;}
@media only screen{
	.yugsterDailyOffer .panel-drawer-site a:hover, 
	.yugsterYoursUntilGone .panel-drawer-site a:hover,
	.yugsterDailyWatchDeal .panel-drawer-site a:hover,
	.yugsterSpecialOffer .panel-drawer-site a:hover{background-position:-319px -294px;}
	.yugsterDailyOffer .panel-drawer-site a:active, 
	.yugsterYoursUntilGone .panel-drawer-site a:active,
	.yugsterDailyWatchDeal .panel-drawer-site a:active,
	.yugsterSpecialOffer .panel-drawer-site a:active{background-position:-319px -315px;}
}

.justDeals1 .panel-drawer-site a,
.justDeals2 .panel-drawer-site a,
.justDeals3 .panel-drawer-site a,
.justDeals4 .panel-drawer-site a{width:76px;background-position:-264px -336px;}
@media only screen{
	.justDeals1 .panel-drawer-site a:hover,
	.justDeals2 .panel-drawer-site a:hover,
	.justDeals3 .panel-drawer-site a:hover,
	.justDeals4 .panel-drawer-site a:hover{background-position:-264px -357px;}
	.justDeals1 .panel-drawer-site a:active,
	.justDeals2 .panel-drawer-site a:active,
	.justDeals3 .panel-drawer-site a:active,
	.justDeals4 .panel-drawer-site a:active{background-position:-264px -378px;}
}

.dailyStealsMain .panel-drawer-site a,
.dailyStealsMobile .panel-drawer-site a,
.dailyStealsHome .panel-drawer-site a,
.dailyStealsToys .panel-drawer-site a,
.dailyStealsLastCall .panel-drawer-site a{width:71px;background-position:-193px -336px;}
@media only screen{
	.dailyStealsMain .panel-drawer-site a:hover,
	.dailyStealsMobile .panel-drawer-site a:hover,
	.dailyStealsHome .panel-drawer-site a:hover,
	.dailyStealsToys .panel-drawer-site a:hover,
	.dailyStealsLastCall .panel-drawer-site a:hover{background-position:-193px -357px;}
	.dailyStealsMain .panel-drawer-site a:active,
	.dailyStealsMobile .panel-drawer-site a:active,
	.dailyStealsHome .panel-drawer-site a:active,
	.dailyStealsToys .panel-drawer-site a:active,
	.dailyStealsLastCall .panel-drawer-site a:active{background-position:-193px -378px;}
}


.panel-drawer-details{width:40%;}
.panel-drawer-details-price, .panel-drawer-details-ship{width:100%;text-align:right;}
.panel-drawer-details-price span{color:#CC0000;font-weight:bold;}
.panel-drawer-details-ship{font-size:.65em;}

@media only screen and (max-device-width: 640px), (max-width: 640px) {
	.panel-content{
		background-color: #F2F2F2; 
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#f2f2f2));
		background-image: -webkit-linear-gradient(top, #fafafa, #f2f2f2);
		background-image: -moz-linear-gradient(top, #fafafa, #f2f2f2);
		background-image: -ms-linear-gradient(top, #fafafa, #f2f2f2);
		background-image: -o-linear-gradient(top, #fafafa, #f2f2f2);
		border:solid 1px #D8D8D8;
		border-top:none;
		border-radius:0 0 .5em .5em;
		-moz-border-radius:0 0 .5em .5em;
		-webkit-border-radius:0 0 .5em .5em;
		-khtml-border-radius:0 0 .5em .5em;
	}
	.panel-body, .panel-bottom{float:left;}
	.panel-body, .panel-time, .panel-drawer{
		background-color:transparent;
		background-image:none;
		border:0;
		border-radius:0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		-khtml-border-radius:0;
	}
	.panel-body{width:50%;}
	.panel-bottom{width:50%;}
	.panel-body-prodImg{height:auto;}
	.panel-drawer-site, .panel-drawer-details{width:100%;padding-top:0;padding-bottom:0;}
	.panel-drawer-site{padding-top:.25em;}
	.panel-drawer-details-price, .panel-drawer-details-ship{
		width:50%;
		float:left;
		padding-right:.25em;
	}
	.panel-drawer-details-price{text-align:left;}
	.panel-drawer-details-ship{line-height:2em;}
}


/* Blog */

.blog #content{text-align:center;}




/* Contact */
#contact-left,#contact-right{width:50%;float:left;}
#contact-left{padding:.5em 1em .5em .5em;}
#contact-right{padding-right:.5em;}
@media only screen and (max-device-width: 640px), (max-width: 640px) {
	#contact-left,#contact-right{width:100%;float:none;}
	#contact-left{padding:0 0 .25em 0;}
}
#contact-error{margin:0 1% 1em;}
#contact-right input, #contact-right textarea{
	display:block;
	color:#B8B8B8;
	font-size:1.25em;
	background-color:#F2F2F2;
	padding:.5em;
	border:solid 1px #D8D8D8;
	border-radius: .25em;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	-khtml-border-radius: .25em;
	margin:0 1%;
	margin-bottom:1em;
}
@media only screen{
	#contact-right input:hover{background-color:#F7F7F7;border:solid 1px #C6C6C6;}
}
#contact-right div input{width:48%;float:left;}
#contact-right #subject, #contact-right #comments{width:98%;}
#contact-right textarea{height:10em;}
#contact-right #submit{
	display:inline-block;
	color:#FFF;
	font-size:.9em;
	background-color:#3C91C7;
	border:0;
}
@media only screen{
	#contact-right #submit:hover{color:#FFF;background-color:#56a0cf;}
	#contact-right #submit:active{color:#FFF;background-color:#327eaf;}
}
#contact-right #woop{display:none;}
#response{display:inline-block;margin:0 1%;padding:.5em 0;}
#response li{display:inline-block;font-size:.75em;}
#response .error{
	color:#fff;
	list-style:none;
	background-color:#C90000;
	border:solid 1px #960000;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	-khtml-border-radius: .25em;
	padding:.25em .5em;
}
span.success{
	display:inline-block;
	color:#FFF;
	font-size:.75em;
	background-color:#00C900;
	border:solid 1px #009600;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	-khtml-border-radius: .25em;
	padding:.25em .5em;
	margin-right:.5em;
}
@media all and (max-device-width: 640px), (max-width: 640px) {
	#contact-right #submit{display:block;}
	#contact-right div input{width:98%;float:none;}
}