.deals-main {
	overflow: hidden;
	.sort {
		padding-bottom: 1em;
	}
	.panels {
		text-align: justify;
	}
	article {
		width: 15%;
		@include inline-block;
		vertical-align: top;
		margin-bottom: 2%;
		&.break {
			margin-bottom: 0;
		}
		&.sold-out {
			opacity: .5;
		}
		a {
			display: block;
			cursor: -moz-zoom-in;
			cursor: -webkit-zoom-in;
			cursor: zoom-in;
		}
	}
	@include mobile() {
		article {
			width: 49%;
		}
	}
}

.deal-info {
	width: 60%;
	color: $grey5;
	background-color: $grey1;
	padding: 1em;
	margin: 0 auto;
	h3 {
		color: $lblue;
	}
	h4 {
		display: inline;
	}
	.deal-info-image img {
		width: 100%;
	}
	.site-logo {
		max-width: 100%;
		max-height: 2em;
		margin-bottom: 1.5em;
	}
	.twocol {
		margin-bottom: .5em;
	}
	.button-primary {
		margin-top: 1.5em;
	}
	@include mobile {
		width: 90%;
		.button-primary {
			margin-bottom: 0;
		}
		button {
			top: -1em;
			color: white!important;
			opacity: 1;
			background-color: $grey5!important;
			border-radius: 44px;
			&:active {
				top: -1em!important;
			}
		}
	}
}